.App {
  text-align: center;
  height: 100%;
  margin: 40px auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.timerContainer {
  height: 100%;
  position: relative;
}


.circleProgress {
  max-height: 500px;
  max-width: 60%;
  margin: 40px auto;
  z-index: 1;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -135%);
  font-size: 4em;
  color: #d67e73;
}

.workPlayIcon {
  font-size: 2em;
  margin: 0px;
  color: #2d2d2d;
}

.actionBtn {
  padding: 1.1em;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  box-shadow: -2px -3px 12px rgba(0, 0, 0, 0.05), inset -1px -7px 2px rgba(0, 0, 0, 0.06);;
  margin: 0 10px;
  background-color: #d67e73;
  color: white;
  font-size: 1.5em;
  transition: 150ms ease-out;
  -webkit-tap-highlight-color: transparent;
}
.actionBtn:hover {
  color: #f2f2f2;
}
.actionBtn:active {
  color: #ddd;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.23);
}
.actionBtn:focus {
  outline: 0;
}


@media (max-width: 600px) {
  .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    font-size: 3.2em;
  }

  .actionBtn {
    padding: 1.1em;
    margin: 0 10px;
    font-size: 1em;
  }
}
