.App {
  text-align: center;
  height: 100%;
  padding: 50px 0;
}

.counter {
  margin: 100px auto 20px auto;
  font-size: 4em;
}

.workPlayIcon {
  font-size: 2em;
  margin-bottom: 80px;
}

.actionBtn {
  padding: 1.1em;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  text-shadow: -4px -4px 18px rgba(0, 0, 0, 0.28);
  box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.33);
  margin: 0 10px;
  background-color: salmon;
  color: white;
  font-size: 1.5em;
  transition: 100ms ease-out;
}
.actionBtn:hover {
  color: #eee;
}
.actionBtn:active {
  color: #ddd;
  text-shadow: inset 4px 4px 18px rgba(0, 0, 0, 0.28);
  box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.33);
}
.actionBtn:focus {
  outline: 0;
}
